<form class="editprof" action="/users/<%=@user.id%>" method="POST">
	<input type="hidden" name="_method" value="patch">
	<label>Full Name: </label>
	<input type="text" name="full_name" value="<%=@user.full_name%>"><br>
	<label>Email: </label>
	<input type="text" name="email" value="<%=@user.email%>"><br>
	<label>Username: </label>
	<input type="text" name="username" value="<%=@user.username%>"><br>
	<label>Password: </label>
	<input type="password" name="password" value="<%=@user.password%>"><br>
	<label>Bio: </label>
	<input type="text" name="bio" value="<%=@user.bio%>"><br>
	<input type="submit" value="Update">
</form>

<form class="delete" action="/users/<%=@user.id%>" method="POST">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete">
</form>