<h2>MY PROFILE</h2><br>

Full Name: <%= @user.full_name %><br>
Username: <%= @user.username %><br>
Email: <%= @user.email %><br>
Bio: <%= @user.bio %><br>

<a href="/users/<%=session[:user_id]%>/my_questions">My Questions</a><br>
<a href="/users/<%=session[:user_id]%>/my_answers">My Answers</a><br>
<%if session[:user_id] == @user.id%>
	<a href="/users/<%= @user.id %>/update/"><button>Edit Profile</button></a>
<%end%>

